PORT=3000
DRY_RUN=false
HEADLESS=false
CHROME_USER_DATA_DIR=/Users/roeizaburoff/Instegram_Storie_Agent/playwright-profile-pixel7
MOBILE_EMULATION=true
MOBILE_DEVICE=Pixel 7
DEBUG_PAUSE_MS=30000
KEEP_BROWSER_OPEN_ON_ERROR=true
DEBUG_STEP_MODE=false
TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
